.principal
{
    background-color: coral;
    padding: 10px;
    /*width: 500px;
    height: 500px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-content: space-around;   
}
.caja
{
    background-color: aqua;
    margin: 5px;
    width: 100px;
    height: 700px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    /*display: inline-block;*/
    flex-grow: 1;
}
.caja-1
{
    background-color: rgb(20, 52, 52);
    margin: 7px;
    width: 150px;
    height: 330px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    /*flex-grow: 2;
    order: 3;*/
   
}
.caja-2
{
    background-color: rgb(20, 52, 52);
    margin: 5px;
    width: 150px;
    height: 330px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
    
}
.caja-3
{
    background-color: rgb(20, 52, 52);
    margin: 5px;
    width: 150px;
    height: 330px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja-4
{
    background-color: rgb(20, 52, 52);
    margin: 5px;
    width: 150px;
    height: 330px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja1
{
    background-color: red;
    margin: 5px;
    width: 100px;
    height: 700px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    /*display: inline-block;*/
    flex-grow: 2;
    /*order: 3;*/
}
.caja1-1
{
    background-color: rgb(49, 200, 19);
    margin: 7px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    /*flex-grow: 2;
    order: 3;*/
   
}
.caja1-2
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
    
}
.caja1-3
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja1-4
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja1-5
{
    background-color: rgb(49, 200, 19);
    margin: 7px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    /*flex-grow: 2;
    order: 3;*/
   
}
.caja1-6
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
    
}
.caja1-7
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja1-8
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja1-9
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 160px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja2
{
    background-color: yellowgreen;
    margin: 5px;
    width: 100px;
    height: 700px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    flex-grow: 1;
    /*display: inline-block;*/
    
}
.caja2-1
{
    background-color: rgb(49, 200, 19);
    margin: 7px;
    width: 300px;
    height: 100px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    /*flex-grow: 2;
    order: 3;*/
   
}
.caja2-2
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 140px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
    
}
.caja2-3
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 140px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja2-4
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 300px;
    height: 100px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
}
.caja2-5
{
    background-color: rgb(49, 200, 19);
    margin: 7px;
    width: 140px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    /*flex-grow: 2;
    order: 3;*/
   
}
.caja2-6
{
    background-color: rgb(49, 200, 19);
    margin: 5px;
    width: 140px;
    height: 200px;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    flex-grow: 2;
    /*order: 3;*/
    
}